---
import { Icon } from 'astro-icon/components';
import { supabase } from "@lib/supabaseClient";

// Import highlight.js
import hljs from 'highlight.js';
let code = hljs.highlightAuto("").value;

const { data: userSession } = await supabase.auth.getSession();
const userSessionId = userSession?.session?.user.id;

// console.log(userSessionId);

let snippetsWithCategories: {
  id: any;
  titulo: any;
  contenido: any;
  categoria_id: any;
}[] = [];

if (userSessionId) {
  // const snippetAuthorData = await supabase
  //   .from("usuarios")
  //   .select("*")
  //   .eq("usuaario_id", userSessionId?.id);
  // const userId = snippetAuthorData.data && snippetAuthorData.data[0]?.id;

  const { data, error } = await supabase
    .from("snippets")
    .select(
      `
      id,
      titulo,
      contenido,
      categoria_id
    `
    )
    .eq("usuario_id", userSessionId)
    .order('created_at', { ascending: false });

  if (error) {
    console.error("Error fetching snippets:", error);
  } else {
    snippetsWithCategories = data;
  }
}

// console.log("--" + snippetsWithCategories[0]);
// console.log(snippetsWithCategories[0].snippet_categorias[0].categorias.nombre);
---

<div>
  <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {
      snippetsWithCategories.map((snippet) => {
        return (
          <li
            class="_snippet 
            group
            flex flex-col gap-2 rounded bg-slate-600/10 p-6 text-sm transition-all transition-discrete duration-300"
            data-category_id={snippet.categoria_id}
            data-snippet-id={snippet.id}
          >
            <div class="flex justify-between items-center mb-2">
              <h2 class="text-xl font-semibold ">{snippet.titulo}</h2>

              <!-- Editar / Eliminar -->
              <div class="
              opacity-45 group-hover:opacity-100 transition-opacity duration-300
              flex gap-2 items-center">
                <a
                  href="#"
                  class="_edit-snippet _btn-normal px-2! text-slate-400"
                  data-id={snippet.id}
                  title="Editar"
                >
                  <Icon name="edit" class="w-4 h-4 pointer-events-none " />
                </a>
                <a
                  href="#"
                  class="_delete-snippet _btn-normal px-2! text-slate-400 "
                  data-id={snippet.id}
                  title="Eliminar"
                >
                 <Icon name="delete" class="w-4 h-4 pointer-events-none " />
                </a>
              </div>
            </div>

            <!-- CONFIRM DELETE SNIPPET -->
            <div
              class="_snippet-confirm 
                  flex flex-col gap-2 items-center mb-3 hidden
                  bg-slate-800/90 p-4 rounded-md
                  "
            >
              <p class="text-md text-green-500 mb-2">
                ¿Estás seguro de que deseas eliminar éste snippet?
              </p>
              <div class="flex flex-wrap gap-3 items-center justify-between w-full">
                <a
                  href="#"
                  class="_snippet-confirm-delete _btn-normal flex-1   [min-width:150px]"
                  data-id={snippet.id}
                  title="Editar"
                >
                  Sí, eliminar
                </a>
                <a
                  href="#"
                  class="_snippet-confirm-cancel _btn-normal  flex-1 [min-width:150px]"
                  data-id={snippet.id}
                  title="Eliminar"
                >
                  No, cancelar
                </a>
              </div>
            </div>
            <div
              class="_snippet_content scrollbar-custom bg-slate-800 p-4 rounded flex flex-col max-h-90 overflow-y-auto 
                scroll-smooth"
            >
              <p class="text-[1rem]">
                <pre class="hljs text-wrap break-words">
                  <code set:html={hljs.highlightAuto(snippet.contenido).value} />
                </pre>
              </p>
            </div>
          </li>
        );
      })
    }
  </ul>
</div>
<script>
  import "./Snippets.ts";
</script>